.header__lang-link {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: .8;
    transition: opacity 0.3s ease;
}



@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}