.footer__links {
    margin: 0;
    display: flex;
    justify-items: left;
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        padding-left: 16px;
    }
}