.place__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    text-decoration-line: underline;
    opacity: 1;
}

.place__link:hover {

    opacity: .8;
    transition: opacity 0.3s ease;
}