.cover__overlay {
    width: 100%;
    height: 100%;
    background: rgba(42, 44, 47, 0.3);
    position: absolute;

}

.cover__overlay:hover {
    background: rgba(42, 44, 47, .8);
    transition: 0.3s ease;
    opacity: .8;
}