.cover__background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__background:hover {
    background-color: #2A2C2F;
    opacity: 0.5;
    transition: opacity 0.2s ease;

}