.place {
    display: grid;
    max-width: 984px;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 40px;
    margin: 0 auto 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        margin: 0 auto 73px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        grid-template-columns: 1fr;
        margin: 0 auto 50px;
        gap: 32px;

    }
}