.footer {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 920px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        margin: 0;
        font-size: 24px;
        line-height: 24px;
    }
}